*.json
*.dll
*.pdb
*.cache
*.cs
*.txt
*.props
*.targets
/WikiParser/asheron_backup2_pages_current.xml
/WikiParser/bin
/WikiParser/obj
/WikiParser/WikiParser2012.v11.suo
/.vs/WikiParser/v15
/WikiParser/asheron_backup2_pages_current.xml.7z
